---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="КОНТАКТЫ">
  <main>
    <Blocks.Intro
      title="КОНТАКТЫ"
      img="intro/contacts-img.png"
      bg="intro/contacts-bg.png"
    />
    <Blocks.Contacts />
  </main>
</App>
