---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Главная">
  <main>
    <Blocks.Hero />
    <Blocks.Stats secondary main />
    <Blocks.Trust />
    <Blocks.Cycle />
    <Blocks.Complated />
    <Blocks.Faq />
    <Blocks.Partners />
    <Blocks.Letters />
    <Blocks.Certificates />
    <Blocks.Geography />
    <Blocks.Application fixed />
  </main>
</App>
