---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Работа (внутренняя)">
  <main>
    <Blocks.Intro
      title="Котельная в <br/> г.Чебоксары"
      bg="intro/project-bg.png"
      lines={false}
    />
    <!-- Project Info -->
    <section class="project-info">
      <div class="container">
        <div class="project-info__text">
          Спроектировали, построили и успешно запустили современную модульную
          котельную в городе Чебоксары. На всех этапах — от разработки проекта
          до ввода в эксплуатацию — были использованы передовые инженерные
          решения и качественные материалы, что гарантирует высокую
          эффективность, надежность и безопасность работы оборудования.
          Котельная спроектирована с учетом современных экологических норм и
          стандартов, обеспечивая минимальные выбросы вредных веществ в
          атмосферу. Реализация данного проекта позволит повысить
          энергоэффективность и бесперебойное теплоснабжение объектов,
          подключенных к системе.
        </div>
      </div>
    </section>
    <Blocks.Gallery />
    <Blocks.Info />
    <Blocks.Application />
  </main>
</App>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .project-info {
    &__text {
      position: relative;
      z-index: 2;
      margin: rem(50) 0 rem(100);
      font-size: rem(24);
      letter-spacing: 2.5%;

      @include media("3xl") {
        margin-bottom: rem(50);
        font-size: rem(20);
      }
      @include media("sm") {
        margin: rem(30) 0 rem(50);
        font-size: rem(18);
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transform: translate(-40%, -40%);
        width: rem(148);
        height: rem(148);
        background: var(--primary);

        @include media("3xl") {
          width: rem(120);
          height: rem(120);
        }
        @include media("sm") {
          width: rem(100);
          height: rem(100);
        }
      }
    }
  }
</style>
