---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Наши работы">
  <main>
    <Blocks.Intro
      title="Наши работы"
      img="intro/projects-img.png"
      bg="intro/projects-bg.png"
    />
    <Blocks.Projects />
    <Blocks.Application />
  </main>
</App>
