---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Работа (внутренняя)">
  <main>
    <Blocks.Service
      title="Водоснабжение"
      bg="services/4.png"
      img="services/4-img.png"
    />
    <Blocks.Stats secondary>
      <Fragment slot="header">
        <div class="stats__top">
          <p>
            <strong>Водоснабжение</strong>
            –это система обеспечения объекта чистой водой для бытовых, производственных
            и технологических нужд. Комплекс спроектирован с учетом характеристик
            здания и поставляется в готовом виде, что ускоряет ввод в эксплуатацию.
            Инженерные сети водоснабжения включают:
          </p>

          <ul>
            <li>— подготовку места установки;</li>
            <li>— подключение к сетям коммуникаций;</li>
            <li>— настройку и тестирование оборудования.</li>
          </ul>

          <p>
            Система водоснабжения может включать холодное и горячее
            водоснабжение, резервное водоснабжение, насосные станции и системы
            фильтрации. Конфигурация и производительность оборудования
            подбираются в зависимости от требований объекта – от частных домов
            до промышленных комплексов. Возможно как автономное функционирование
            системы, так и интеграция с другими инженерными коммуникациями.
          </p>
        </div>
      </Fragment>
    </Blocks.Stats>
    <Blocks.Types />
    <Blocks.Cycle />
    <Blocks.Stages />
    <Blocks.Partners />
    <Blocks.Letters />
    <Blocks.Certificates />
    <Blocks.Complated />
    <Blocks.Faq />
    <Blocks.Application />
  </main>
</App>
