---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Работа (внутренняя)">
  <main>
    <Blocks.Service
      title="Инженерные <br/> коммуникации"
      bg="services/2.png"
      img="services/2-img.png"
      img2="services/2-2-img.png"
      class="img-3"
    />
    <Blocks.Stats secondary>
      <Fragment slot="header">
        <div class="stats__top">
          <p>
            <strong>Инженерные коммуникации</strong>
            – это комплекс систем, обеспечивающих комфортное и безопасное функционирование
            здания. Каждая система спроектирована с учетом особенностей объекта и
            монтируется в готовом виде, что минимизирует сроки ввода в эксплуатацию.
            Инженерные сети включают:
          </p>

          <ul>
            <li>— подготовку места установки;</li>
            <li>— подключение к сетям коммуникаций;</li>
            <li>— настройку и тестирование оборудования.</li>
          </ul>

          <p>
            Системы могут обеспечивать водоснабжение, водоотведение,
            газоснабжение, электроснабжение и вентиляцию. Их мощность и
            конфигурация варьируются в зависимости от потребностей – от
            небольших объектов до крупных промышленных комплексов. Возможно как
            отдельное функционирование каждой сети, так и их интеграция в единую
            систему управления.
          </p>
        </div>
      </Fragment>
    </Blocks.Stats>
    <Blocks.Types />
    <Blocks.Cycle />
    <Blocks.Stages />
    <Blocks.Partners />
    <Blocks.Letters />
    <Blocks.Certificates />
    <Blocks.Complated />
    <Blocks.Faq />
    <Blocks.Application />
  </main>
</App>
