---
import App from "../App.astro";
import * as Blocks from "@/blocks";
import { Image } from "ui";
---

<App title="Работа (внутренняя)">
  <main>
    <Blocks.Service
      title="Газовые <br/> блочно-модульные <br/> котельные"
      bg="services/1.png"
      img="services/1-img.png"
      img2="services/1-2-img.png"
      class="img-2"
    />
    <Blocks.Stats secondary>
      <Fragment slot="header">
        <div class="stats__top">
          <p>
            <strong>Блочно-модульная котельная</strong> – это комплекс оборудования,
            укомплектованный на заводе под особенности конкретного объекта. Модуль
            имеет закрытую конструкцию со своими горелками, котлами, насосами и системой
            управления. Блочно-модульные котельные требуют минимум времени на ввод
            в эксплуатацию, предполагая:
          </p>

          <ul>
            <li>— подготовку места установки;</li>
            <li>— подключение к сетям коммуникаций;</li>
            <li>— настройку и тестирование оборудования.</li>
          </ul>

          <p>
            Мощность модульной котельной может составлять от 0,1 до 50 мВт, что
            подходит для реализации как небольших, так и крупных проектов. Это
            может быть только ГВС, отопительное оборудование, паровое
            обеспечение или система, выполняющая несколько задач одновременно.
          </p>
        </div>
      </Fragment>
    </Blocks.Stats>
    <Blocks.Types title="ВИДЫ МОДУЛЬНЫХ КОТЕЛЬНЫХ">
      <div class="types__list">
        <div class="types__item">
          <a href="#" class="types__item-link"></a>
          <Image class="types__item-img" src="types/1.png" />
          <div class="types__item-btn">
            <span>СТАЦИОНАРНЫЕ</span>
            <svg
              width="90"
              height="23"
              viewBox="0 0 90 23"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M89.0607 12.5607C89.6464 11.9749 89.6464 11.0251 89.0607 10.4393L79.5147 0.893398C78.9289 0.307611 77.9792 0.307611 77.3934 0.893398C76.8076 1.47919 76.8076 2.42893 77.3934 3.01472L85.8787 11.5L77.3934 19.9853C76.8076 20.5711 76.8076 21.5208 77.3934 22.1066C77.9792 22.6924 78.9289 22.6924 79.5147 22.1066L89.0607 12.5607ZM0 13H88V10H0V13Z"
                fill="#F1C40F"></path>
            </svg>
          </div>
        </div>

        <div class="types__item">
          <a href="#" class="types__item-link"></a>
          <Image class="types__item-img" src="types/1.png" />
          <div class="types__item-btn">
            <span>Встроенные</span>
            <svg
              width="90"
              height="23"
              viewBox="0 0 90 23"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M89.0607 12.5607C89.6464 11.9749 89.6464 11.0251 89.0607 10.4393L79.5147 0.893398C78.9289 0.307611 77.9792 0.307611 77.3934 0.893398C76.8076 1.47919 76.8076 2.42893 77.3934 3.01472L85.8787 11.5L77.3934 19.9853C76.8076 20.5711 76.8076 21.5208 77.3934 22.1066C77.9792 22.6924 78.9289 22.6924 79.5147 22.1066L89.0607 12.5607ZM0 13H88V10H0V13Z"
                fill="#F1C40F"></path>
            </svg>
          </div>
        </div>

        <div class="types__item">
          <a href="#" class="types__item-link"></a>
          <Image class="types__item-img" src="types/1.png" />
          <div class="types__item-btn">
            <span>Пристроенные</span>
            <svg
              width="90"
              height="23"
              viewBox="0 0 90 23"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M89.0607 12.5607C89.6464 11.9749 89.6464 11.0251 89.0607 10.4393L79.5147 0.893398C78.9289 0.307611 77.9792 0.307611 77.3934 0.893398C76.8076 1.47919 76.8076 2.42893 77.3934 3.01472L85.8787 11.5L77.3934 19.9853C76.8076 20.5711 76.8076 21.5208 77.3934 22.1066C77.9792 22.6924 78.9289 22.6924 79.5147 22.1066L89.0607 12.5607ZM0 13H88V10H0V13Z"
                fill="#F1C40F"></path>
            </svg>
          </div>
        </div>
      </div>
    </Blocks.Types>
    <Blocks.Cycle />
    <Blocks.Stages />
    <Blocks.Partners />
    <Blocks.Letters />
    <Blocks.Certificates />
    <Blocks.Catalog />
    <Blocks.Complated />
    <Blocks.Faq />
    <Blocks.Application />
  </main>
</App>
