---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Работа (внутренняя)">
  <main>
    <Blocks.Service
      title="стационарные Газовые  <br/> блочно-модульные <br/> котельные"
      bg="services/1.png"
      img="services/1-img.png"
      img2="services/3-img.png"
      class="img-4"
    />
    <Blocks.Stats secondary>
      <Fragment slot="header">
        <div class="stats__top">
          <p class="w-full">
            <strong> Стационарная блочно-модульная котельная</strong>
            — это инженерный комплекс, монтируемый непосредственно на строительной
            площадке и адаптированный под технические и архитектурные особенности
            объекта. В отличие от мобильных модулей, стационарная БМК предполагает
            фундаментальное размещение оборудования с возможностью масштабирования
            и интеграции в существующую инфраструктуру. Котельная оснащается котлами,
            горелками, насосным оборудованием, системой автоматики, газоснабжения
            и безопасности. Все узлы подбираются с учетом нужной мощности и задач:
            отопление, горячее водоснабжение, технологический пар. Реализация проекта
            включает:
          </p>

          <ul>
            <li>— подготовку места установки;</li>
            <li>— подключение к сетям коммуникаций;</li>
            <li>— настройку и тестирование оборудования.</li>
          </ul>

          <p class="w-full">
            Стационарные БМК могут использоваться для теплоснабжения жилых
            кварталов, промышленных предприятий, торговых и логистических
            комплексов. Мощность таких систем варьируется от 0,5 до 100 мВт и
            выше, обеспечивая высокую эффективность, надёжность и соответствие
            современным экологическим и техническим требованиям.
          </p>
        </div>
      </Fragment>
    </Blocks.Stats>
    <Blocks.Types />
    <Blocks.Cycle />
    <Blocks.Stages />
    <Blocks.Partners />
    <Blocks.Letters />
    <Blocks.Certificates />
    <Blocks.Catalog />
    <Blocks.Complated />
    <Blocks.Faq />
    <Blocks.Application />
  </main>
</App>
