@use "scss/helpers" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: rem(15) 0;
  width: 100%;
  color: #fff;
  transition: var(--transition-ease);
  z-index: 10;

  &.sticky {
    background: var(--text-color);

    @include media("xl") {
      background: transparent;
    }
  }

  @include media("xl") {
    position: absolute;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(20);

    @include media("sm") {
      align-items: flex-start;
    }
  }

  &__logo {
    position: relative;
    width: rem(180);
    display: block;

    @include media("sm") {
      width: rem(112);
    }

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__menu {
    @include media("xl") {
      display: none;
    }

    .menu {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(30);

      & > .menu-item {
        position: relative;

        & > a {
          font-size: rem(14);
          transition: var(--transition-ease);
          white-space: nowrap;
        }

        &.active > a,
        &:hover > a {
          color: var(--primary);
        }
      }

      & > .menu-item.menu-item-has-children {
        position: relative;
        display: flex;
        align-items: center;
        gap: rem(8);
        cursor: pointer;

        &::before {
          content: "";
          display: block;
          width: 1.2em;
          height: 1.2em;
          background: url('data:image/svg+xml,<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.6853 0.458862V7.46216H10.8408V6.29392C7.35448 7.44986 4.84583 10.7394 4.84583 14.6192C4.84583 15.2709 4.91961 15.9104 5.05488 16.5191L6.10015 15.9165L7.02245 17.5152L5.65745 18.3022L1.96212 20.4358L0.959893 21.0138L0.0375977 19.4151L1.24888 18.7142C0.818475 17.4291 0.590976 16.0518 0.590976 14.6192C0.590976 8.37216 4.9811 3.15197 10.8408 1.88535V0.458862H12.6853Z" fill="%23F1C416" /><path d="M27.2947 19.4335L26.3724 21.0322L25.3702 20.4542L21.6749 18.3206L20.3099 17.5336L21.2322 15.935L22.2774 16.5375C22.4127 15.9288 22.4865 15.2894 22.4865 14.6376C22.4865 10.7578 19.9778 7.4683 16.4916 6.31235V7.48059H14.647V0.477295H16.4916V1.90378C22.3512 3.1704 26.7413 8.39059 26.7413 14.6376C26.7413 16.0702 26.5138 17.4475 26.0834 18.7326L27.2947 19.4335Z" fill="%23F1C416" /><path d="M25.6591 22.0652L24.6999 23.6392L23.4518 22.8829C23.421 22.926 23.3841 22.9629 23.3472 23.0059C19.406 27.5252 12.7162 28.8533 7.24395 25.8343C5.98963 25.1456 4.89517 24.2787 3.97902 23.2826C3.91753 23.215 3.8499 23.1473 3.79456 23.0735L3.75767 23.0981L2.57713 23.8544L1.58105 22.2988L2.55869 21.6778L6.14949 19.3782L7.4776 18.5235L8.47368 20.0792L7.45915 20.7309H7.44686C7.53908 20.8293 7.63746 20.9215 7.73584 21.0076C8.20313 21.4196 8.73192 21.7946 9.30374 22.1082C12.6978 23.9835 16.7928 23.3748 19.4859 20.8785C19.572 20.7985 19.658 20.7186 19.7441 20.6325L18.7112 20.0054L19.6703 18.4252L25.6591 22.0652Z" fill="%23F1C416" /></svg>')
            center/contain no-repeat;
        }

        &:hover::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          height: rem(60);
          width: rem(780);
        }

        & > a {
          color: var(--primary);
        }
      }

      & > .menu-item.menu-item-has-children > .sub-menu {
        position: absolute;
        top: calc(100% + rem(60));
        left: 0;
        transform: translateY(rem(20));
        padding: rem(42) rem(40) rem(60);
        width: rem(780);
        background: var(--primary);
        display: none;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(70);
        clip-path: polygon(
          rem(20) 0%,
          calc(100% - rem(20)) 0%,
          100% rem(20),
          100% calc(100% - rem(20)),
          calc(100% - rem(20)) 100%,
          rem(20) 100%,
          0% calc(100% - rem(20)),
          0% rem(20)
        );
        transition: var(--transition-bezier);
        opacity: 0;
        overflow: hidden;

        &[data-state="active"] {
          transform: translateY(0);
          opacity: 1;
        }

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          clip-path: inherit;
          pointer-events: none;
        }

        &::before {
          height: calc(100% - rem(40));
          width: calc(100% - rem(40));
          background: #fff;
        }

        &::after {
          height: calc(100% - rem(42));
          width: calc(100% - rem(42));
          background: var(--primary);
        }

        & > .menu-item {
          position: relative;
          z-index: 2;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: rem(22);

          & > a {
            color: var(--text-color);
            font-size: rem(24);
            font-weight: 700;
            line-height: 1;
          }

          & > ul {
            color: #fff;
            font-size: rem(20);
            font-weight: 700;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: rem(15);

            @include media("xl") {
              font-size: rem(18);
              gap: rem(12);
            }
            @include media("xs") {
              font-size: rem(16);
            }
            @include media("xxs") {
              font-size: rem(14);
            }

            li {
              position: relative;
              display: flex;
              align-items: center;
              gap: rem(10);

              @include media("xs") {
                gap: rem(8);
              }

              &::before {
                content: "";
                display: block;
                width: rem(20);
                height: rem(20);
                box-shadow:
                  inset 0 0 0 rem(1) #fff,
                  inset 0 0 0 rem(5) var(--primary),
                  inset 0 0 0 rem(10) #fff;
                border-radius: 50%;

                @include media("xs") {
                  width: rem(16);
                  height: rem(16);
                  box-shadow:
                    inset 0 0 0 rem(1) #fff,
                    inset 0 0 0 rem(4) var(--primary),
                    inset 0 0 0 rem(8) #fff;
                }
              }
            }
          }
        }
      }
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: rem(60);

    @include media("3xl") {
      gap: rem(40);
    }
    @include media("sm") {
      flex-direction: column;
      align-items: flex-end;
      gap: rem(10);
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(4);

      @include media("lg") {
        &:nth-child(1) {
          display: none;
        }
      }
    }

    &-address {
      font-size: rem(14);

      @include media("3xl") {
        width: rem(230);
      }
    }

    &-email,
    &-btn {
      font-weight: 400;
      font-size: 14px;
      line-height: 145%;
      color: var(--primary);
      border-bottom: rem(1) dashed currentColor;
      transition: var(--transition-ease);

      &:hover {
        color: var(--primary-light);
      }
    }

    &-phone,
    &-addphone {
      width: 100%;
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
      text-align: right;
      color: #fff;
      white-space: nowrap;

      @include media("sm") {
        font-size: 14px;
      }
    }

    &-addphone {
      font-size: 16px;

      @include media("sm") {
        font-size: rem(12);
      }
    }

    &-btn {
      position: relative;
      white-space: nowrap;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-200%, -60%);
        width: rem(6);
        height: rem(6);
        background-color: currentColor;
        border-radius: 50%;

        @include media("sm") {
          display: none;
        }
      }
    }
  }
}

.mobile__menu {
  position: fixed;
  bottom: rem(15);
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 10;

  @include media("xl") {
    display: flex;
  }
  @include media("xs") {
    width: 100%;
    max-width: calc(100% - rem(30));
  }
  @include media("350px") {
    max-width: calc(100% - rem(10));
  }

  &-tabs {
    padding: rem(6) rem(18) rem(6) rem(6);
    width: 100%;
    height: rem(48);
    background: var(--text-color);
    border-radius: rem(15);
    box-shadow: 0 0 rem(10) 0 rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(10);
  }

  &-tab {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:first-child {
      width: rem(115);
      height: 100%;
      background: var(--primary);
      border-radius: rem(10);
      flex-direction: row;
      justify-content: center;
      gap: rem(6);

      svg {
        width: rem(23);
        height: rem(24);
      }

      span {
        margin-top: 0;
        margin-bottom: rem(2);
        color: var(--text-color);
        font-size: rem(14);
      }
    }

    svg > *,
    span {
      transition: var(--transition-ease);
    }

    svg {
      color: var(--primary);
      width: rem(15);
      height: rem(15);
    }

    span {
      margin-top: rem(2);
      color: #fff;
      font-size: rem(13);
      text-align: center;
    }

    .group {
      position: absolute;
      bottom: calc(100% + rem(10));
      padding: 0 rem(6);
      max-height: 0;
      backdrop-filter: blur(rem(6));
      box-shadow: 0 0 rem(4) 0 rgba(0, 0, 0, 0.25);
      background: #272727;
      border-radius: rem(20);
      gap: rem(12);
      transition: var(--transition-ease);
      overflow: hidden;
      --icon-size: #{rem(32)};

      a:first-child {
        margin-top: rem(6);
      }

      a:last-child {
        margin-bottom: rem(6);
      }
    }
  }

  &-content {
    position: absolute;
    padding: rem(20) rem(20) rem(25);
    bottom: rem(60);
    min-height: rem(180);
    width: 100%;
    color: #fff;
    background: var(--text-color);
    border-radius: rem(15);
    display: none;
    align-items: center;
    transition: var(--transition-ease);
    opacity: 0;
    transform: translateY(rem(20));
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
    pointer-events: none;

    &.show {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }

    .menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(14);

      .menu-item-has-children {
        display: none;
      }
    }

    #menu-content > .sub-menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(30);

      & > .menu-item {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem(15);

        & > a {
          color: var(--primary);
          font-size: rem(20);
          font-weight: 700;
          line-height: 1;
        }

        & > ul {
          color: #fff;
          font-weight: 600;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: rem(15);

          @include media("xl") {
            font-size: rem(18);
            gap: rem(12);
          }
          @include media("xs") {
            font-size: rem(16);
          }
          @include media("xxs") {
            font-size: rem(14);
          }

          li {
            position: relative;
            display: flex;
            align-items: center;
            gap: rem(10);

            @include media("xs") {
              gap: rem(8);
            }

            &::before {
              content: "";
              display: block;
              width: rem(20);
              height: rem(20);
              box-shadow:
                inset 0 0 0 rem(1) #fff,
                inset 0 0 0 rem(5) var(--text-color),
                inset 0 0 0 rem(10) #fff;
              border-radius: 50%;
            }
          }
        }
      }
    }

    #menu-content {
      padding-right: rem(10);
      max-height: calc(100vh - rem(250));
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(14);
      overflow: auto;

      &::-webkit-scrollbar {
        width: rem(10);
      }

      &::-webkit-scrollbar-track {
        background: #b18744;
        border-radius: 9999px;
      }

      &::-webkit-scrollbar-thumb {
        background: #ecb660;
        border-radius: 9999px;
      }
    }
  }

  &-close {
    position: absolute;
    top: rem(15);
    right: rem(15);
    z-index: 2;

    svg {
      width: rem(18);
      height: rem(18);
    }
  }
}
