---
import { H2, Image, Icon, Button } from "ui";
import "./index.scss";
---

<header class="header">
  <div class="container">
    <a href="/" class="header__logo">
      <Image src="logo.svg" alt="logo" />
    </a>

    <nav class="header__menu">
      <ul class="menu">
        <li class="menu-item menu-item-has-children">
          <a href="/">Услуги</a>
          <ul class="sub-menu">
            <li class="menu-item">
              <a href="/services">Газовые блочно-модульные котельные</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="/services">Стационарные</a>
                </li>
                <li class="menu-item">
                  <a href="/services">Встроенные</a>
                </li>
                <li class="menu-item">
                  <a href="/services">Пристроенные</a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="/services">Инженерные коммуникации</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="/services">Водоснабжение</a>
                </li>
                <li class="menu-item">
                  <a href="/services">Водоотведение</a>
                </li>
                <li class="menu-item">
                  <a href="/services">Газопровод</a>
                </li>
                <li class="menu-item">
                  <a href="/services">Электрика</a>
                </li>
                <li class="menu-item">
                  <a href="/services">Вентиляция</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="menu-item"><a href="/services">О компании</a></li>
        <li class="menu-item"><a href="/portfolio">Наши работы</a></li>
        <li class="menu-item"><a href="/contacts">Контакты</a></li>
      </ul>
    </nav>

    <div class="header__contacts">
      <div class="header__contacts-item">
        <div class="header__contacts-address">
          Чувашская Республика, г.Чебоксары, ул. И. Яковлева, д. 35
        </div>
        <a
          href="mailto:sk-leron@mail.ru"
          target="_blank"
          title="Email"
          class="header__contacts-email"
        >
          sk-leron@mail.ru
        </a>
      </div>
      <div class="header__contacts-item">
        <a
          href="tel:+79003330072"
          target="_blank"
          title="Телефон"
          class="header__contacts-phone"
        >
          +7 (900) 333-00-72
        </a>

        <a
          href="tel:+7835209663"
          target="_blank"
          title="Дополнительный Телефон"
          class="header__contacts-addphone"
        >
          +7 (8352) 709-663
        </a>
      </div>
      <div class="header__contacts-item">
        <button class="header__contacts-btn" data-modal="callback">
          Заказать звонок
        </button>
      </div>
    </div>
  </div>

  <div class="mobile__menu">
    <div class="mobile__menu-tabs">
      <div
        class="mobile__menu-tab"
        data-toggle="catalog"
        role="button"
        tabindex="0"
        aria-label="Каталог"
      >
        <svg
          width="23"
          height="23"
          viewBox="0 0 23 23"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8.98438 10.7812C8.88906 10.7812 8.79765 10.8191 8.73026 10.8865C8.66286 10.9539 8.625 11.0453 8.625 11.1406V14.0156C8.625 14.1109 8.66286 14.2023 8.73026 14.2697C8.79765 14.3371 8.88906 14.375 8.98438 14.375C9.07969 14.375 9.1711 14.3371 9.23849 14.2697C9.30589 14.2023 9.34375 14.1109 9.34375 14.0156V11.1406C9.34375 11.0453 9.30589 10.9539 9.23849 10.8865C9.1711 10.8191 9.07969 10.7812 8.98438 10.7812ZM11.5 5.75C13.4845 5.75 15.0938 5.14625 15.0938 4.40234C15.0938 3.65844 13.4837 3.05469 11.5 3.05469C9.51625 3.05469 7.90625 3.65844 7.90625 4.40234C7.90625 5.14625 9.51553 5.75 11.5 5.75ZM11.5 5.03125C10.309 5.03125 9.34375 4.70925 9.34375 4.3125C9.34375 3.91575 10.309 3.59375 11.5 3.59375C12.691 3.59375 13.6562 3.91575 13.6562 4.3125C13.6562 4.70925 12.691 5.03125 11.5 5.03125Z"
            fill="white"></path>
          <path
            d="M20.1681 5.198C19.774 4.80392 19.2426 4.57775 18.6853 4.56694C18.6544 3.79212 18.2799 3.15747 17.8314 2.69387C17.3693 2.21591 16.7706 1.85078 16.1424 1.57622C14.8795 1.02422 13.2379 0.71875 11.4985 0.71875C9.76131 0.71875 8.11896 1.02422 6.85684 1.57622C6.22865 1.85078 5.62921 2.21591 5.16778 2.69387C4.69987 3.17831 4.31246 3.84891 4.31246 4.67188V10.6993C3.97959 10.6501 3.63981 10.6794 3.32031 10.785C3.0008 10.8906 2.71045 11.0695 2.47246 11.3074L1.96359 11.8155C1.76332 12.0158 1.60446 12.2535 1.49608 12.5151C1.38769 12.7767 1.33191 13.0572 1.33191 13.3404C1.33191 13.6236 1.38769 13.904 1.49608 14.1656C1.60446 14.4272 1.76332 14.665 1.96359 14.8652L4.31246 17.2141V18.3281C4.31246 19.1511 4.69987 19.8217 5.16778 20.3068C5.62993 20.7841 6.22937 21.1485 6.85756 21.4238C8.11968 21.9758 9.76131 22.2812 11.5 22.2812C12.995 22.2812 14.4087 22.0556 15.5695 21.6488C16.2682 21.4037 16.9265 21.0745 17.4577 20.6468C18.0859 20.1408 18.6875 19.3624 18.6875 18.3281V10.7453L20.677 8.75581C20.8772 8.55558 21.0361 8.31786 21.1445 8.05623C21.2529 7.7946 21.3086 7.51418 21.3086 7.23098C21.3086 6.94779 21.2529 6.66737 21.1445 6.40574C21.0361 6.14411 20.8772 5.90639 20.677 5.70616L20.1681 5.198ZM5.74996 13.57V7.14797C5.97565 7.31041 6.21787 7.45487 6.46871 7.58353V10.4219C6.46871 10.5172 6.50658 10.6086 6.57397 10.676C6.64137 10.7434 6.73278 10.7812 6.82809 10.7812C6.9234 10.7812 7.01481 10.7434 7.08221 10.676C7.1496 10.6086 7.18746 10.5172 7.18746 10.4219V7.90266C8.39928 8.36984 9.90937 8.625 11.5 8.625C13.2379 8.625 14.8802 8.31953 16.1417 7.76753C16.7706 7.49225 17.37 7.12784 17.8314 6.64987C17.9838 6.49247 18.1276 6.31566 18.2519 6.12016C18.39 6.03037 18.5547 5.99073 18.7185 6.00787C18.8823 6.02501 19.0353 6.09789 19.1518 6.21431L19.6607 6.72319C19.7954 6.85797 19.8711 7.04076 19.8711 7.23134C19.8711 7.42193 19.7954 7.60471 19.6607 7.7395L17.25 10.1488V18.3281C17.25 18.7623 16.9984 19.1705 16.5557 19.527C16.3472 19.6947 16.0995 19.8497 15.8125 19.992V16.8906C15.8125 16.7953 15.7746 16.7039 15.7072 16.6365C15.6398 16.5691 15.5484 16.5312 15.4531 16.5312C15.3578 16.5312 15.2664 16.5691 15.199 16.6365C15.1316 16.7039 15.0937 16.7953 15.0937 16.8906V20.2917C14.109 20.6368 12.8598 20.8438 11.5 20.8438C8.32453 20.8438 5.74996 19.7175 5.74996 18.3281V16.6182L2.9799 13.8489C2.91307 13.7821 2.86006 13.7029 2.82389 13.6156C2.78772 13.5283 2.7691 13.4348 2.7691 13.3404C2.7691 13.2459 2.78772 13.1524 2.82389 13.0651C2.86006 12.9779 2.91307 12.8986 2.9799 12.8318L3.48878 12.3237C3.62356 12.1889 3.80635 12.1132 3.99693 12.1132C4.18752 12.1132 4.3703 12.1889 4.50509 12.3237L5.74996 13.57ZM17.25 4.67188C17.25 6.06122 14.6754 7.1875 11.5 7.1875C8.32453 7.1875 5.74996 6.06122 5.74996 4.67188C5.74996 3.28253 8.32453 2.15625 11.5 2.15625C14.6754 2.15625 17.25 3.28253 17.25 4.67188Z"
            fill="white"></path>
        </svg>
        <span>Каталог</span>
      </div>

      <div
        class="mobile__menu-tab"
        data-toggle="menu"
        role="button"
        tabindex="0"
        aria-label="Меню"
      >
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 1.79032C0 1.0777 0.577697 0.5 1.29032 0.5H7.74194C8.45456 0.5 9.03226 1.0777 9.03226 1.79032V8.24194C9.03226 8.95456 8.45456 9.53226 7.74194 9.53226H1.29032C0.577697 9.53226 0 8.95456 0 8.24194V1.79032Z"
            fill="currentColor"></path>
          <path
            d="M10.9677 1.79032C10.9677 1.0777 11.5454 0.5 12.2581 0.5H18.7097C19.4223 0.5 20 1.0777 20 1.79032V8.24194C20 8.95456 19.4223 9.53226 18.7097 9.53226H12.2581C11.5454 9.53226 10.9677 8.95456 10.9677 8.24194V1.79032Z"
            fill="currentColor"></path>
          <path
            d="M10.9677 12.1129C10.9677 11.4003 11.5454 10.8226 12.2581 10.8226H18.7097C19.4223 10.8226 20 11.4003 20 12.1129V18.5645C20 19.2771 19.4223 19.8548 18.7097 19.8548H12.2581C11.5454 19.8548 10.9677 19.2771 10.9677 18.5645V12.1129Z"
            fill="currentColor"></path>
          <path
            d="M0 12.1129C0 11.4003 0.577697 10.8226 1.29032 10.8226H7.74194C8.45456 10.8226 9.03226 11.4003 9.03226 12.1129V18.5645C9.03226 19.2771 8.45456 19.8548 7.74194 19.8548H1.29032C0.577697 19.8548 0 19.2771 0 18.5645V12.1129Z"
            fill="currentColor"></path>
        </svg>
        <span>Меню</span>
      </div>

      <a href="/pricing" class="mobile__menu-tab" id="tab-link" title="Прайс">
        <svg
          width="15"
          height="17"
          viewBox="0 0 15 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6 12.25L9 9.25M6 9.25H6.00675M8.99325 12.25H9M7.5 16C9.0913 16 10.6174 15.3679 11.7426 14.2426C12.8679 13.1174 13.5 11.5913 13.5 10C13.5 5.5 7.5 1 7.5 1C7.209 2.86525 6.924 3.8665 6 5.5C5.1 5.08375 4.875 4.75 4.5 3.8125C3 5.5 1.5 7.75 1.5 10C1.5 11.5913 2.13214 13.1174 3.25736 14.2426C4.38258 15.3679 5.9087 16 7.5 16Z"
            stroke="currentColor"
            stroke-width="1.34"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
        <span>Прайс</span>
      </a>

      <div
        class="mobile__menu-tab"
        data-toggle="contacts"
        role="button"
        tabindex="0"
        aria-label="Связаться"
      >
        <svg
          width="16"
          height="17"
          viewBox="0 0 16 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M5 2.5V1M11 2.5V1M8 16C4.99475 16 3.4925 16 2.55875 15.0115C1.625 14.023 1.625 12.4315 1.625 9.25C1.625 6.0685 1.625 4.477 2.55875 3.4885C3.4925 2.5 4.99475 2.5 8 2.5C11.0052 2.5 12.5075 2.5 13.4412 3.4885C14.375 4.477 14.375 6.0685 14.375 9.25C14.375 12.4315 14.375 14.023 13.4412 15.0115C12.5075 16 11.0052 16 8 16Z"
            stroke="currentColor"
            stroke-width="1.3"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M9.51349 6.61975C9.51349 7.01758 9.35546 7.39911 9.07415 7.68041C8.79285 7.96172 8.41132 8.11975 8.01349 8.11975C7.61567 8.11975 7.23414 7.96172 6.95283 7.68041C6.67153 7.39911 6.51349 7.01758 6.51349 6.61975C6.51349 6.22193 6.67153 5.8404 6.95283 5.55909C7.23414 5.27779 7.61567 5.11975 8.01349 5.11975C8.41132 5.11975 8.79285 5.27779 9.07415 5.55909C9.35546 5.8404 9.51349 6.22193 9.51349 6.61975ZM5.04724 12.037C5.84074 10.8145 7.10149 10.357 8.01349 10.3578C8.92549 10.3585 10.1495 10.8153 10.943 12.0378C10.994 12.1165 11.0082 12.2133 10.9617 12.2958C10.7765 12.625 10.1997 13.2783 9.78424 13.3225C9.30574 13.3728 8.05399 13.3803 8.01424 13.3803C7.97449 13.3803 6.68524 13.3728 6.20674 13.3225C5.78974 13.2775 5.21374 12.625 5.02774 12.295C4.98199 12.2133 4.99624 12.1165 5.04724 12.037Z"
            stroke="currentColor"
            stroke-width="1.3"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
        <span>Связаться</span>

        <div class="group mobile__menu-contacts">
          <a href="#" class="icon" target="_blank">
            <Image src="icons/phone.svg" />
          </a>
          <a href="#" class="icon" target="_blank">
            <Image src="icons/whatsapp.svg" />
          </a>
          <a href="#" class="icon" target="_blank">
            <Image src="icons/telegram.svg" />
          </a>
          <a href="#" class="icon" target="_blank">
            <Image src="icons/email.svg" />
          </a>
        </div>
      </div>
    </div>

    <div class="mobile__menu-content">
      <div
        class="mobile__menu-close"
        id="close"
        role="button"
        aria-label="Закрыть меню"
        tabindex="0"
      >
        <svg
          width="23"
          height="23"
          viewBox="0 0 23 23"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M1 1L22 22" stroke="white"></path>
          <path d="M1 1L22 22" stroke="white"></path>
          <path d="M1 1L22 22" stroke="white"></path>
          <path d="M22 1L1 22" stroke="white"></path>
          <path d="M22 1L1 22" stroke="white"></path>
          <path d="M22 1L1 22" stroke="white"></path>
        </svg>
      </div>
      <div id="menu-content"></div>
    </div>
  </div>
</header>
