---
import { H2, Image, Icon, Button } from "ui";
import "./index.scss";
---

<header class="header">
  <div class="container">
    <a href="/" class="header__logo">
      <Image src="logo.svg" alt="logo" />
    </a>

    <nav class="header__menu">
      <ul class="menu">
        <li class="menu-item menu-item-has-children">
          <a href="/">Услуги</a>
          <ul class="sub-menu">
            <li class="menu-item">
              <a href="/services">Газовые блочно-модульные котельные</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="/services">Стационарные</a>
                </li>
                <li class="menu-item">
                  <a href="/services">Встроенные</a>
                </li>
                <li class="menu-item">
                  <a href="/services">Пристроенные</a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="/services">Инженерные коммуникации</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="/services">Водоснабжение</a>
                </li>
                <li class="menu-item">
                  <a href="/services">Водоотведение</a>
                </li>
                <li class="menu-item">
                  <a href="/services">Газопровод</a>
                </li>
                <li class="menu-item">
                  <a href="/services">Электрика</a>
                </li>
                <li class="menu-item">
                  <a href="/services">Вентиляция</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="menu-item"><a href="/services">О компании</a></li>
        <li class="menu-item"><a href="/portfolio">Наши работы</a></li>
        <li class="menu-item"><a href="/contacts">Контакты</a></li>
      </ul>
    </nav>
  </div>
</header>
