---
import { H2, Image, Icon, Button } from "ui";
import "./index.scss";
---

<header class="header">
  <div class="container">
    <a href="/" class="header__logo">
      <Image src="logo.svg" alt="logo" />
    </a>

    <nav class="header__menu">
      <ul class="menu">
        <li class="menu-item menu-item-has-children">
          <a href="/">Услуги</a>
          <ul class="sub-menu">
            <li class="menu-item">
              <a href="/services">Газовые блочно-модульные котельные</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="/services">Стационарные</a>
                </li>
                <li class="menu-item">
                  <a href="/services">Встроенные</a>
                </li>
                <li class="menu-item">
                  <a href="/services">Пристроенные</a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="/services">Инженерные коммуникации</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="/services">Водоснабжение</a>
                </li>
                <li class="menu-item">
                  <a href="/services">Водоотведение</a>
                </li>
                <li class="menu-item">
                  <a href="/services">Газопровод</a>
                </li>
                <li class="menu-item">
                  <a href="/services">Электрика</a>
                </li>
                <li class="menu-item">
                  <a href="/services">Вентиляция</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="menu-item"><a href="/about">О компании</a></li>
        <li class="menu-item"><a href="/projects">Наши работы</a></li>
        <li class="menu-item"><a href="/contacts">Контакты</a></li>
      </ul>
    </nav>

    <div class="header__contacts">
      <div class="header__contacts-item">
        <div class="header__contacts-address">
          Чувашская Республика, г.Чебоксары, ул. И. Яковлева, д. 35
        </div>
        <a
          href="mailto:sk-leron@mail.ru"
          target="_blank"
          title="Email"
          class="header__contacts-email"
        >
          sk-leron@mail.ru
        </a>
      </div>
      <div class="header__contacts-item">
        <a
          href="tel:+79003330072"
          target="_blank"
          title="Телефон"
          class="header__contacts-phone"
        >
          +7 (900) 333-00-72
        </a>

        <a
          href="tel:+7835209663"
          target="_blank"
          title="Дополнительный Телефон"
          class="header__contacts-addphone"
        >
          +7 (8352) 709-663
        </a>
      </div>
      <div class="header__contacts-item">
        <button class="header__contacts-btn" data-modal="callback">
          Заказать звонок
        </button>
      </div>
    </div>
  </div>

  <div class="mobile__menu">
    <div class="mobile__menu-tabs">
      <div
        class="mobile__menu-tab"
        data-toggle="catalog"
        role="button"
        tabindex="0"
        aria-label="Каталог"
      >
        <svg
          width="23"
          height="23"
          viewBox="0 0 23 23"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_150_20310)">
            <path
              d="M18.9179 0.5L11.1464 8.27145L10.2929 9.125H11.5H21.4398L4.22249 21.4231L9.07221 11.7236L9.43402 11H8.625H1L8.875 0.5H18.9179Z"
              stroke="#272727"></path>
          </g>
          <defs>
            <clipPath id="clip0_150_20310">
              <rect width="23" height="23" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
        <span>Услуги</span>
      </div>

      <div
        class="mobile__menu-tab"
        data-toggle="menu"
        role="button"
        tabindex="0"
        aria-label="Меню"
      >
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 1.79032C0 1.0777 0.577697 0.5 1.29032 0.5H7.74194C8.45456 0.5 9.03226 1.0777 9.03226 1.79032V8.24194C9.03226 8.95456 8.45456 9.53226 7.74194 9.53226H1.29032C0.577697 9.53226 0 8.95456 0 8.24194V1.79032Z"
            fill="currentColor"></path>
          <path
            d="M10.9677 1.79032C10.9677 1.0777 11.5454 0.5 12.2581 0.5H18.7097C19.4223 0.5 20 1.0777 20 1.79032V8.24194C20 8.95456 19.4223 9.53226 18.7097 9.53226H12.2581C11.5454 9.53226 10.9677 8.95456 10.9677 8.24194V1.79032Z"
            fill="currentColor"></path>
          <path
            d="M10.9677 12.1129C10.9677 11.4003 11.5454 10.8226 12.2581 10.8226H18.7097C19.4223 10.8226 20 11.4003 20 12.1129V18.5645C20 19.2771 19.4223 19.8548 18.7097 19.8548H12.2581C11.5454 19.8548 10.9677 19.2771 10.9677 18.5645V12.1129Z"
            fill="currentColor"></path>
          <path
            d="M0 12.1129C0 11.4003 0.577697 10.8226 1.29032 10.8226H7.74194C8.45456 10.8226 9.03226 11.4003 9.03226 12.1129V18.5645C9.03226 19.2771 8.45456 19.8548 7.74194 19.8548H1.29032C0.577697 19.8548 0 19.2771 0 18.5645V12.1129Z"
            fill="currentColor"></path>
        </svg>
        <span>Меню</span>
      </div>

      <a href="/pricing" class="mobile__menu-tab" id="tab-link" title="Прайс">
        <svg
          width="15"
          height="17"
          viewBox="0 0 15 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6 12.25L9 9.25M6 9.25H6.00675M8.99325 12.25H9M7.5 16C9.0913 16 10.6174 15.3679 11.7426 14.2426C12.8679 13.1174 13.5 11.5913 13.5 10C13.5 5.5 7.5 1 7.5 1C7.209 2.86525 6.924 3.8665 6 5.5C5.1 5.08375 4.875 4.75 4.5 3.8125C3 5.5 1.5 7.75 1.5 10C1.5 11.5913 2.13214 13.1174 3.25736 14.2426C4.38258 15.3679 5.9087 16 7.5 16Z"
            stroke="currentColor"
            stroke-width="1.34"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
        <span>Прайс</span>
      </a>

      <div
        class="mobile__menu-tab"
        data-toggle="contacts"
        role="button"
        tabindex="0"
        aria-label="Связаться"
      >
        <svg
          width="16"
          height="17"
          viewBox="0 0 16 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M5 2.5V1M11 2.5V1M8 16C4.99475 16 3.4925 16 2.55875 15.0115C1.625 14.023 1.625 12.4315 1.625 9.25C1.625 6.0685 1.625 4.477 2.55875 3.4885C3.4925 2.5 4.99475 2.5 8 2.5C11.0052 2.5 12.5075 2.5 13.4412 3.4885C14.375 4.477 14.375 6.0685 14.375 9.25C14.375 12.4315 14.375 14.023 13.4412 15.0115C12.5075 16 11.0052 16 8 16Z"
            stroke="currentColor"
            stroke-width="1.3"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M9.51349 6.61975C9.51349 7.01758 9.35546 7.39911 9.07415 7.68041C8.79285 7.96172 8.41132 8.11975 8.01349 8.11975C7.61567 8.11975 7.23414 7.96172 6.95283 7.68041C6.67153 7.39911 6.51349 7.01758 6.51349 6.61975C6.51349 6.22193 6.67153 5.8404 6.95283 5.55909C7.23414 5.27779 7.61567 5.11975 8.01349 5.11975C8.41132 5.11975 8.79285 5.27779 9.07415 5.55909C9.35546 5.8404 9.51349 6.22193 9.51349 6.61975ZM5.04724 12.037C5.84074 10.8145 7.10149 10.357 8.01349 10.3578C8.92549 10.3585 10.1495 10.8153 10.943 12.0378C10.994 12.1165 11.0082 12.2133 10.9617 12.2958C10.7765 12.625 10.1997 13.2783 9.78424 13.3225C9.30574 13.3728 8.05399 13.3803 8.01424 13.3803C7.97449 13.3803 6.68524 13.3728 6.20674 13.3225C5.78974 13.2775 5.21374 12.625 5.02774 12.295C4.98199 12.2133 4.99624 12.1165 5.04724 12.037Z"
            stroke="currentColor"
            stroke-width="1.3"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
        <span>Связаться</span>

        <div class="group mobile__menu-contacts">
          <a href="#" class="icon" target="_blank">
            <Image src="icons/phone.svg" />
          </a>
          <a href="#" class="icon" target="_blank">
            <Image src="icons/whatsapp.svg" />
          </a>
          <a href="#" class="icon" target="_blank">
            <Image src="icons/telegram.svg" />
          </a>
          <a href="#" class="icon" target="_blank">
            <Image src="icons/email.svg" />
          </a>
        </div>
      </div>
    </div>

    <div class="mobile__menu-content">
      <div
        class="mobile__menu-close"
        id="close"
        role="button"
        aria-label="Закрыть меню"
        tabindex="0"
      >
        <svg
          width="23"
          height="23"
          viewBox="0 0 23 23"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M1 1L22 22" stroke="#F1C40F"></path>
          <path d="M1 1L22 22" stroke="#F1C40F"></path>
          <path d="M1 1L22 22" stroke="#F1C40F"></path>
          <path d="M22 1L1 22" stroke="#F1C40F"></path>
          <path d="M22 1L1 22" stroke="#F1C40F"></path>
          <path d="M22 1L1 22" stroke="#F1C40F"></path>
        </svg>
      </div>
      <div id="menu-content"></div>
    </div>
  </div>
</header>
