---
import { H4 } from "ui";
import TheForm from "../../TheForm.astro";
---

<div class="modal-overlay">
  <div class="modal" data-template="callback">
    <div class="modal-form">
      <div class="modal-close icon" data-modal="close"></div>
      <TheForm />
    </div>
  </div>

  <div class="modal" data-template="success">
    <div class="modal-form">
      <div class="modal-close icon" data-modal="close"></div>
      <TheForm success={true} />
    </div>
  </div>
</div>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  /* Overlay */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  /* Modal */
  .modal {
    width: var(--content-width);
    transform: scale(0.8);
    opacity: 0;
    transition: all 0.3s ease;
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &[data-template="success"] {
      @include media("xs") {
        .form {
          display: flex;
          align-items: center;

          &-text {
            text-align: center;
            align-items: center;
            gap: rem(20);
          }
        }
      }
    }

    &.show {
      transform: scale(1);
      opacity: 1;
    }

    &-close {
      position: absolute;
      top: rem(20);
      right: rem(20);
      z-index: 2;
      background: url('data:image/svg+xml,<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L18 18" stroke="%23F1C40F" stroke-width="2" /><path d="M18 1L1 18" stroke="%23F1C40F" stroke-width="2" /></svg>')
        center/contain no-repeat;
      cursor: pointer;
      --icon-size: #{rem(20)};
    }

    &-form {
      width: 100%;
    }

    .form {
      @include media("xs") {
        margin-left: 0 !important;
        min-width: auto !important;
        padding: rem(30) rem(15) rem(80);
        height: 100vh;
        height: 100dvh;
        width: 100%;
        overflow: auto;

        &-text {
          margin: 0;
        }
      }
    }
  }
</style>
