---
import { Section, H2, H3, P, BgImg, Image, Icon, Button } from "ui";
---

<!-- Cycle -->
<Section name="cycle">
  <BgImg src="cycle-bg.png" />

  <div class="cycle__content">
    <div class="cycle__img">
      <Image src="cycle-img.png" />
    </div>

    <div class="cycle__text">
      <H2>
        Мы можем брать <strong>объекты под полный жизненный цикл</strong>
        который включает в себя:
      </H2>

      <ul class="cycle__text-list">
        <li>Проектные изыскания</li>
        <li>Проектирование</li>
        <li>Смету</li>
        <li>
          Строительство сетей (водоснабжение, водоотведение, газопровод,
          электрика, вентиляция)
        </li>
        <li>Газовая БМК</li>
        <li>Пусконаладочные работы</li>
        <li>Сервисное обслуживание</li>
      </ul>

      <Button data-modal="callback">
        <span>Получить Предложение</span>
      
      </Button>
    </div>
  </div>
</Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .cycle {
    position: relative;

    &__content {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: rem(40);
    }

    &__img {
      width: 100%;
      max-width: rem(732);

      @include media("3xl") {
        max-width: rem(680);
      }
      @include media("lg") {
        display: none;
      }
    }

    &__text {
      width: 100%;
      max-width: rem(760);
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(50);

      @include media("lg") {
        gap: rem(35);
      }

      &-list {
        padding-left: rem(24);
        list-style-type: disc;
        font-size: rem(24);
        font-family: var(--font-secondary);

        @include media("3xl") {
          font-size: rem(20);
        }
        @include media("xl") {
          font-size: rem(18);
        }
        @include media("sm") {
          font-size: rem(16);
        }

        li::marker {
          color: var(--primary);
        }
      }
    }
  }
</style>
