---
import { Section,H2,H3,P, Image, Icon, Button } from "ui";
---

<!-- Features -->
<Section name="features"> .features </Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .features {
    position: relative;
  }
</style>
