---
import { Section, H2, H3, P, Image, Icon, Button } from "ui";
---

<!-- Info -->
<Section name="info">
  <h1>Заголовок 1</h1>

  <p>
    Спроектировали, построили и успешно запустили современную модульную
    котельную в городе Чебоксары. На всех этапах — от разработки проекта до
    ввода в эксплуатацию — были использованы передовые инженерные решения и
    качественные материалы, что гарантирует высокую эффективность, надежность и
    безопасность работы оборудования. Котельная спроектирована с учетом
    современных экологических норм и стандартов, обеспечивая минимальные выбросы
    вредных веществ в атмосферу. Реализация данного проекта позволит повысить
    энергоэффективность и бесперебойное теплоснабжение объектов, подключенных к
    системе.
  </p>

  <h2>Заголовок 2</h2>

  <ol>
    <li>Элемент списка</li>
    <li>Элемент списка</li>
    <li>Элемент списка</li>
  </ol>

  <p>
    Спроектировали, построили и успешно запустили современную модульную
    котельную в городе Чебоксары. На всех этапах — от разработки проекта до
    ввода в эксплуатацию — были использованы передовые инженерные решения и
    качественные материалы, что гарантирует высокую эффективность, надежность и
    безопасность работы оборудования. Котельная спроектирована с учетом
    современных экологических норм и стандартов, обеспечивая минимальные выбросы
    вредных веществ в атмосферу. Реализация данного проекта позволит повысить
    энергоэффективность и бесперебойное теплоснабжение объектов, подключенных к
    системе.
  </p>

  <ul>
    <li>Элемент списка</li>
    <li>Элемент списка</li>
    <li>Элемент списка</li>
  </ul>
</Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .info {
    position: relative;
    margin-top: rem(100);

    @include media("3xl") {
      margin-top: rem(80);
    }
    @include media("lg") {
      margin-top: 0;
    }

    h1 {
      font-size: rem(32);
      font-weight: 700;

      @include media("sm") {
        font-size: rem(28);
      }
    }

    h2 {
      font-size: rem(24);
      font-weight: 700;
    }

    ul,
    ol {
      padding-left: rem(24);
    }

    ul {
      list-style: disc;
    }

    ol {
      list-style: decimal;
    }
  }
</style>
