---
import { Section, H2, H3, P, Image, Icon, Button } from "ui";
---

<!-- Trust -->
<Section name="trust">
  <div class="trust__content">
    <div class="trust__card">
      <H2 class="trust__content-title">
        <span>Нам доверяют</span> сложные и нестандартные проекты
      </H2>
      <div class="trust__content-desc">
        <strong>требующие</strong> высокой квалификации <br /> и ресурсообеспеченности.
      </div>
    </div>

    <div class="trust__card">
      <div class="bg-img">
        <Image src="trust/2.png" />
      </div>

      <div class="trust__card-title">10 лет</div>
      <p class="trust__card-desc">
        в теплоэнергетике и <br />
        строительстве инженерных сетей
      </p>
    </div>

    <div class="trust__card">
      <div class="bg-img">
        <Image src="trust/3.png" />
      </div>

      <div class="trust__card-title">
        Сварочно-монтажное <br /> производство
      </div>
    </div>

    <div class="trust__card">
      <div class="bg-img">
        <Image src="trust/1.png" />
      </div>

      <div class="trust__card-title">Собственный  проектный <br /> отдел</div>
    </div>

    <div class="trust__card">
      <div class="bg-img">
        <Image src="trust/4.png" />
      </div>

      <div class="trust__card-title">Более 100 сотрудников,</div>
      <p class="trust__card-desc">
        каждый с подтвержденной <br />
        квалификацией
      </p>
    </div>

    <div class="trust__card">
      <div class="bg-img">
        <Image src="trust/5.png" />
      </div>

      <div class="trust__card-title">Парк техники:</div>
      <p class="trust__card-desc">
        специализированная и <br />
        современная
      </p>
    </div>

    <div class="trust__card">
      <div class="bg-img">
        <Image src="trust/6.png" />
      </div>

      <div class="trust__card-title">20+ партнеров</div>
      <p class="trust__card-desc">
        для комплексного <br />
        решения задач
      </p>
    </div>
  </div>
</Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .trust {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -2;
      height: 125%;
      width: 100%;
      background: url(/assets/img/trust-bg.png) top/cover no-repeat;
    }

    &__content {
      margin-top: rem(40);
      padding-block: rem(40);
      width: 100%;
      color: #fff;
      border-top: rem(1) solid #474747;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: rem(20);

      @include media("xl") {
        margin-top: rem(20);
        padding-block: rem(20);
        grid-template-columns: repeat(2, 1fr);
      }
      @include media("lg") {
        gap: rem(15);
      }
      @include media("sm") {
        grid-template-columns: 1fr;
      }

      &-desc {
        font-size: rem(22);

        @include media("3xl") {
          font-size: rem(20);
        }
        @include media("lg") {
          font-size: rem(16);
        }

        strong {
          color: var(--primary);
          font-weight: 400;
        }
      }
    }

    &__card {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &:first-child {
        padding: rem(38) 0 0;
        gap: rem(32);

        @include media("xl") {
          padding: 0 0 rem(10);
          grid-column-start: span 2;
          gap: rem(20);

          br {
            display: none;
          }
        }
        @include media("sm") {
          grid-column-start: span 1;
        }
      }

      &:not(:first-child) {
        --border-angle: #{rem(25)};
        padding: rem(45);
        min-height: rem(250);
        background: rgba(0, 0, 0, 0.7);
        gap: rem(8);
        clip-path: polygon(
          var(--border-angle) 0%,
          calc(100% - var(--border-angle)) 0%,
          100% var(--border-angle),
          100% calc(100% - var(--border-angle)),
          calc(100% - var(--border-angle)) 100%,
          var(--border-angle) 100%,
          0% calc(100% - var(--border-angle)),
          0% var(--border-angle)
        );

        @include media("3xl") {
          padding: rem(30);
          min-height: rem(180);
        }
        @include media("xl") {
          min-height: rem(280);
        }
        @include media("lg") {
          min-height: rem(200);
        }
        @include media("xs") {
          --border-angle: #{rem(20)};
        }

        &::before {
          content: "";
          @include center;
          z-index: -1;
          width: calc(100% + rem(2));
          height: calc(100% + rem(2));
          background: #787878;
          clip-path: inherit;
        }
      }

      &:nth-child(2),
      &:nth-child(3) {
        grid-row-start: span 2;

        @include media("xl") {
          grid-row-start: span 1;
        }
        @include media("sm") {
          min-height: rem(380);
        }
        @include media("xs") {
          min-height: rem(340);
        }
      }

      &-title {
        font-weight: 700;
        font-size: rem(22);
        line-height: 130%;
        color: var(--primary);

        @include media("lg") {
          font-size: rem(18);
        }
      }

      &-desc {
        line-height: 130%;

        @include media("lg") {
          font-size: rem(14);
        }
      }
    }
  }
</style>
