---
import { Section, H2, H3, P, Image, Icon, Button } from "ui";

interface Props {
  title: string;
  variant?: "default" | "secondary";
}

const { title, variant } = Astro.props;
---

<!-- Types -->
<Section name="types">
  <div class="types__title" class:list={{ secondary: variant === "secondary" }}>
    {title}
  </div>
  <slot />
</Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .types {
    position: relative;
    padding-bottom: 0 !important;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: calc(var(--content-width) + rem(200));
      height: 100%;
      background: #fff;
      pointer-events: none;
      z-index: -1;

      @include media("3xl") {
        width: calc(var(--content-width) + rem(160));
      }
    }

    &__title {
      position: relative;
      width: 100%;
      font-weight: 900;
      font-size: rem(90);
      letter-spacing: 0.03em;
      text-transform: uppercase;

      &.secondary {
        font-size: rem(74);
      }

      @include media("3xl") {
        font-size: rem(70);

        &.secondary {
          font-size: rem(60);
        }
      }
      @include media("xl") {
        font-size: rem(60);

        &.secondary {
          font-size: rem(50);
        }
      }
      @include media("lg") {
        font-size: rem(48);
      }
      @include media("sm") {
        font-size: rem(24);
      }

      &::after {
        content: "";
        position: absolute;
        top: 48%;
        right: -10%;
        z-index: -1;
        height: 100%;
        min-height: rem(40);
        min-width: rem(220);
        width: 40%;
        background: url("/assets/img/lines-2.svg") center/contain no-repeat;
      }
    }

    &__list {
      position: relative;
      padding: rem(50) 0 rem(85);
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: rem(60) rem(20);

      @include media("xl") {
        grid-template-columns: repeat(2, 1fr);
        gap: rem(50) rem(20);
      }
      @include media("md") {
        grid-template-columns: 1fr;
      }
      @include media("sm") {
        padding: rem(10) 0 rem(60);
        gap: rem(30);
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: calc(100% - rem(135));
        background: #272727 url("/assets/img/form-bg.png") center/cover
          no-repeat;
      }
    }

    &__item {
      position: relative;
      padding: rem(35) rem(30);
      width: 100%;
      height: rem(430);
      --border-angle: #{rem(40)};

      @include media("lg") {
        height: rem(350);
      }
      @include media("sm") {
        height: rem(300);
      }
      @include media("xs") {
        padding: rem(25) rem(20);
        height: rem(280);
        --border-angle: #{rem(30)};
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 3;
        transform: translate(4%, 50%);
        width: 70%;
        height: rem(42);
        background: url("/assets/img/intro/lines.svg") center/contain no-repeat;
      }

      &-link {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        clip-path: polygon(
          0 0,
          calc(100% - var(--border-angle)) 0%,
          100% var(--border-angle),
          100% 100%,
          var(--border-angle) 100%,
          0 calc(100% - var(--border-angle))
        );

        &::before {
          content: "";
          @include center;
          width: 100%;
          height: 100%;
          background: var(--primary);
          clip-path: inherit;
        }

        &::after {
          content: "";
          @include center;
          width: calc(100% - rem(4));
          height: calc(100% - rem(4));
          background: #262626;
          clip-path: inherit;
          pointer-events: none;
        }
      }

      &-img {
        position: absolute;
        bottom: rem(2);
        left: rem(2);
        z-index: 2;
        width: calc(100% - rem(4));
        height: auto;
        max-height: calc(100% - rem(4));
        object-fit: cover;
        pointer-events: none;
        clip-path: polygon(
          0 0,
          calc(100% - var(--border-angle)) 0%,
          100% var(--border-angle),
          100% 100%,
          var(--border-angle) 100%,
          0 calc(100% - var(--border-angle))
        );
      }

      &-btn {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        gap: rem(25);
        pointer-events: none;

        @include media("xs") {
          gap: rem(15);
        }

        span {
          color: var(--primary);
          font-weight: 900;
          font-size: rem(24);
          letter-spacing: 0.1em;
          text-transform: uppercase;

          @include media("3xl") {
            font-size: rem(20);
          }
          @include media("xs") {
            font-size: rem(16);
          }
        }

        svg {
          transition: var(--transition-ease);

          @include media("xs") {
            width: rem(60);
          }
        }
      }

      &:hover {
        .types__item-btn svg {
          transform: translateX(rem(10));
        }
      }
    }
  }
</style>
