---
import { Section,H2,H3,P, Image, Icon, Button } from "ui";
---

<!-- Types -->
<Section name="types"> .types </Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .types {
    position: relative;
  }
</style>
