---
import { Image, Icon, H3 } from "ui";
---

<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <a href="/" class="footer__logo">
        <Image src="logo.svg" />
      </a>

      <div class="footer__menu">
        <div class="footer__menu-item">
          <div class="footer__menu-title">
            Газовые блочно-модульные котельные
          </div>
          <ul>
            <li><a href="#">Стационарные</a></li>
            <li><a href="#">Встроенные</a></li>
            <li><a href="#">Пристроенные</a></li>
          </ul>
        </div>
        <div class="footer__menu-item">
          <div class="footer__menu-title">Инженерные коммуникации</div>
          <ul>
            <li><a href="#">Водоснабжение</a></li>
            <li><a href="#">Водоотведение</a></li>
            <li><a href="#">Газопровод</a></li>
            <li><a href="#">Электрика</a></li>
            <li><a href="#">Вентиляция</a></li>
          </ul>
        </div>
      </div>

      <div class="header__contacts">
        <div class="header__contacts-item">
          <div class="header__contacts-address">Email</div>
          <a
            href="mailto:sk-leron@mail.ru"
            target="_blank"
            title="Email"
            class="header__contacts-email"
          >
            sk-leron@mail.ru
          </a>
        </div>
        <div class="header__contacts-item">
          <a
            href="tel:+79003330072"
            target="_blank"
            title="Телефон"
            class="header__contacts-phone"
          >
            +7 (900) 333-00-72
          </a>

          <a
            href="tel:+7835209663"
            target="_blank"
            title="Дополнительный Телефон"
            class="header__contacts-addphone"
          >
            +7 (8352) 709-663
          </a>
        </div>
        <div class="header__contacts-item">
          <button class="header__contacts-btn" data-modal="callback">
            Заказать звонок
          </button>
        </div>
      </div>
    </div>

    <div class="footer__bottom">
      <span>ООО «СК Лерон»</span> /
      <span>
        Сайт не является публичной офертой.
        <span id="currentYear">2025</span>г.
      </span> /
      <a href="#"> Политика конфиденциальности </a>
    </div>
  </div>
</footer>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .footer {
    position: relative;
    padding-top: rem(70);
    color: #fff;

    @include media("3xl") {
      padding-top: rem(50);
    }
    @include media("xl") {
      padding-bottom: rem(60);
    }
    @include media("sm") {
      padding: rem(40) 0 rem(60);
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 120%;
      background: #222020 url("/assets/img/footer-bg.png") center/cover
        no-repeat;

      @include media("xl") {
        background-repeat: repeat-y;
        background-size: 100% auto;
      }
      @include media("lg") {
        background-image: url("/assets/img/footer-bg-mobile.png");
      }
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(30);
    }

    &__logo {
      width: rem(190);
      display: block;

      @include media("sm") {
        width: rem(160);
      }

      img {
        width: 100%;
        object-fit: contain;
      }
    }

    &__top {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: rem(60);

      .header__contacts {
        align-items: flex-start;
      }

      @include media("3xl") {
        .header__contacts {
          flex-direction: column;
          align-items: flex-end;
          text-align: right;
          gap: rem(20);
        }
        .header__contacts-item {
          display: flex !important;
          align-items: flex-end;
        }
      }
      @include media("lg") {
        flex-direction: column;
        gap: rem(40);

        .header__contacts {
          width: 100%;
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-between;
          text-align: left;
        }
        .header__contacts-item {
          align-items: flex-start;
        }
      }
      @include media("sm") {
        gap: rem(30);

        .header__contacts {
          flex-direction: column;

          a {
            font-size: rem(16);
            text-align: left;
          }
        }
      }
    }

    &__menu {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: rem(80);

      @include media("xl") {
        gap: rem(40);
      }
      @include media("sm") {
        flex-direction: column;
        gap: rem(30);
      }

      &-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem(10);
      }

      &-title {
        font-weight: 700;
        color: var(--primary);
      }

      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem(10);
      }
    }

    &__bottom {
      padding: rem(25) 0;
      width: 100%;
      font-size: rem(14);
      border-top: rem(1) solid #ffffff30;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      gap: rem(10);

      @include media("lg") {
        justify-content: flex-start;
      }

      a {
        color: var(--primary);
      }
    }
  }
</style>
