---
import { H4 } from "ui";

interface Props {
  title: string;
  icon?: string;
}

const { title } = Astro.props;
---

<div class="accordion">
  <div class="accordion__header">
    <div class="accordion__header-title">{title}</div>
    <div class="accordion__header-icon icon"></div>
  </div>
  <div class="accordion__body">
    <div class="accordion__content">
      <slot />
    </div>
    <slot name="footer" />
  </div>
</div>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .accordion {
    width: 100%;

    &__header {
      position: relative;
      width: 100%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: rem(12);

      @include media("lg") {
        justify-content: space-between;
      }

      &-title {
        color: var(--primary);
        font-size: rem(20);
        font-weight: 500;

        @include media("sm") {
          font-size: rem(18);
        }
      }

      &-icon {
        color: inherit;
        background: url('data:image/svg+xml,<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_70_1319)"><mask id="mask0_70_1319" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="29" height="29"><path d="M28.2847 14.1421L14.1426 0L0.000442743 14.1421L14.1426 28.2843L28.2847 14.1421Z" fill="white" /></mask><g mask="url(%23mask0_70_1319)"><path d="M21.2136 7.07107C17.3145 3.17196 10.9706 3.17196 7.07151 7.07107C3.17241 10.9702 3.17241 17.3141 7.07151 21.2132C10.9706 25.1123 17.3145 25.1123 21.2136 21.2132C25.1128 17.3141 25.1128 10.9702 21.2136 7.07107ZM7.66077 20.6239C4.08693 17.0501 4.08693 11.2342 7.66077 7.66032C11.2346 4.08649 17.0506 4.08649 20.6244 7.66032C24.1982 11.2342 24.1982 17.0501 20.6244 20.6239C17.0506 24.1978 11.2346 24.1978 7.66077 20.6239Z" fill="%23F1C40F" /><path d="M16.2007 17.9869L18.5998 15.6302C18.7639 15.4685 18.7665 15.2052 18.6048 15.041C18.4432 14.8769 18.1798 14.8744 18.0148 15.0361L15.6131 17.3952C15.4573 17.5511 15.219 17.7685 14.9681 17.9911C14.8448 18.1003 14.7048 18.1777 14.5573 18.2294L14.5573 9.55938C14.5573 9.32938 14.3706 9.14272 14.1406 9.14272C13.9106 9.14271 13.724 9.32938 13.724 9.55938L13.724 18.2294C13.5765 18.1769 13.4365 18.1003 13.3131 17.9902C13.0623 17.7685 12.8239 17.551 12.6656 17.3927L10.2664 15.0361C10.1023 14.8744 9.83811 14.8769 9.67643 15.0411C9.59731 15.1227 9.55727 15.2277 9.55727 15.3336C9.55728 15.4411 9.59899 15.5494 9.68148 15.6302L12.0781 17.9844C12.2431 18.1494 12.4948 18.3802 12.7598 18.6144C13.5464 19.3119 14.7331 19.3118 15.5198 18.6144C15.7848 18.3794 16.0373 18.1485 16.199 17.9868L16.2007 17.9869Z" fill="%23F1C40F" /></g></g><defs><clipPath id="clip0_70_1319"><rect width="20" height="20" fill="white" transform="translate(14.1426) rotate(45)" /></clipPath></defs></svg>')
          center/contain no-repeat;
        transition: var(--transition-ease);
        --icon-size: #{rem(30)};

        @include media("sm") {
          --icon-size: #{rem(32)};
        }
      }

      &[data-state="opened"] {
        .icon {
          transform: rotate(180deg);
        }
      }
    }

    &__body {
      max-height: 0;
      transition: max-height var(--transition-bezier);
      overflow: hidden;
    }

    &__content {
      padding: rem(20) 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(20);

      ul {
        padding-left: 24px;
        list-style-type: disc;
      }

      p {
        max-width: rem(1135);
      }
    }
  }
</style>
